.logo
{
	min-height: 60px;
 	background-color: #B0B0B0; 
 	margin-left: 50px;
 	margin-right: 50px;
    margin-bottom: 10px;
 	text-align: left;
 	margin-top: 30px;
}
.header
{

	min-height: 150px;
 	background-color: #B0B0B0; 
 	margin-left: 50px;
 	margin-right: 50px;
 	margin-bottom: 10px;
 	text-align: center;

}
h3
{
	text-align: right;

}
.intro
{

    min-height: 100px;
 	background-color: #B0B0B0;
 	margin-left: 50px;
 	margin-right: 50px;
 	margin-bottom: 30px;
 	text-align: center;

}
.wrapper,.footer
{
overflow: hidden;

}
.box1
{
	height: 400px;
 	background-color: #B0B0B0; 
 	width: 25%;
 	float: left;
 	margin-left: 50px;
 	margin-right: 20px;
	text-align: center;
	padding-left: 30px;
	padding-right:30px; 

}
.box2
{
	height: 400px;
 	background-color: #B0B0B0; 
 	width: 25%;
 	float: left;
 	margin-left: 10px;
 	margin-right: 20px;
 	text-align: center;
	padding-left: 30px;
	padding-right:30px; 
}
.box3
{
	height: 400px;
 	background-color: #B0B0B0; 
 	width: 25%;
 	float: left;
 	margin-left: 10px;
 	margin-right: 50px;
 	text-align: center;
 	padding-left: 30px;
	padding-right:20px; 

}
.footer
{
	min-height:20px;
 	background-color: #B0B0B0;
 	margin-top: 30px;
 	margin-left: 50px; 
 	margin-right: 50px;
 	margin-bottom: 30px;
 	text-align: center;
	
}

